@using Online_Store_Test4.Models;
@{
    ViewBag.Title = "Cart List";
}

<h2>OderNow</h2>
<table border="1">
    <tr>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>
        <th>
            Total Cost
        </th>
    </tr>

    @foreach (var cart in (List<Cart>)Session["Cart"])
    {
    <tr>
        <td>
            @cart.Product.name
        </td>
        <td>
            @cart.Product.cost
        </td>
        <td>
            @cart.Quantity
        </td>
        <td>
            @(String.Format("{0:N0}", cart.Product.cost * cart.Quantity))
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", "ShoppingCart", new { id = cart.Product.product_id }, new { onclick =  "return confirm ('Are you sure?');"}) |
        </td>
    </tr>
    }

    <tr>
        <td colspan="3">Total:</td>
        <td>
            @{ 
                List<Cart> temp = (List<Cart>)Session["Cart"];
                var total = String.Format("{0:N0}", temp.Sum(x => x.Quantity * x.Product.cost));
            }
            @total  VND
        </td>

    </tr>
</table>
@Html.ActionLink("Coutinue Shopping ?" , "Ads" ,"PublicCategories")
